# 创建 .gitignore 文件
echo '# PyCharm
.idea/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Output directory
output/

# Show-o directory
show-o/

Evaluation/finetuned_inception/Inception-finetune-epoch300

# dataset
datasets/ifashion/all_item_image_paths.npy
datasets/ifashion/cnn_features_clip.npy
datasets/ifashion/download_corrupted_img.py
datasets/ifashion/download_img.py
datasets/ifashion/download_logs/
datasets/ifashion/ifashion.rar
datasets/ifashion/image/
datasets/ifashion/item_info.npy
datasets/ifashion/preprocess_img.py
datasets/ifashion/preprocessed_image/
datasets/ifashion/processed/

datasets/polyvore/all_item_image_paths.npy
datasets/polyvore/cnn_features_clip.npy
datasets/polyvore/image/
datasets/polyvore/polyvore.rar
datasets/polyvore/preprocess_img.py
datasets/polyvore/processed/
datasets/polyvore/temp