# 创建 .gitignore 文件
echo '# PyCharm
.idea/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Output directory
output/

Evaluation/finetuned_inception/Inception-finetune-epoch300

# dataset
datasets/ifashion/all_item_image_paths.npy
datasets/ifashion/cnn_features_clip.npy
datasets/ifashion/download_corrupted_img.py
datasets/ifashion/download_img.py
datasets/ifashion/download_logs/
datasets/ifashion/ifashion.rar
datasets/ifashion/image/
datasets/ifashion/item_info.npy
datasets/ifashion/preprocess_img.py
datasets/ifashion/preprocessed_image/
datasets/ifashion/processed/

datasets/polyvore/all_item_image_paths.npy
datasets/polyvore/cnn_features_clip.npy
datasets/polyvore/image/
datasets/polyvore/polyvore.rar
show-o/preparing_data/describe_item_via_llama.py
datasets/polyvore/processed/
datasets/polyvore/temp
datasets/polyvore/all_item_image_descriptions.npy
datasets/polyvore/instruct/

datasets/falcon-refinedweb

datasets/llava-instruct-150k/
datasets/llava-pretrain/
